{% extends "base.html" %}

{% block main %}

<div class ="welcome">
    <h1>O C T O P U S</h1>
    <p class ="welcome-msg">
        Welcome to the all seeing work time tracking application, log in to see your data</p>
</div>

<div class="center">
    <form method ="post">
        <div class ="userid_field" >
            <input type="text" id="userid" name="userid" required>
            <span></span>
            <label>Username</label>
        </div>
        <div class ="userid_field">
            <input type="password" id="passcode" name="passcode" required>
            <span></span>
            <label>Passcode</label>
        </div>
        <div class="pass" >
            <a href="tel:353899462367">Forgot Passcode?</a>
        </div>
        <input type="submit" value="Login">
        <div class ="not_a_member">
            Not a member? <a href="tel:353899462367">Call</a>
        </div>

    </form>
    {% if error %}
        <p class="error">{{ error }}</p>
    {% endif %}
</div>

{% endblock %}